<h1 class="display-3">New Type Section</h1>

<%= render 'form', type_section: @type_section, option: 'New ' %>
<div class="d-flex justify-content-center">
	<%= link_to 'Back', type_sections_path %>
</div>
