<h1 class="display-3">Editing Display</h1>


<%= render 'form', display: @display , option: 'Edit '%>

<div class="d-flex justify-content-center">
	<%= link_to 'Back to index', displays_path %>
</div>




