<h1 class="display-3">Show Display</h1>


<%= render 'form', display: @display , option: 'Show'%>

<div class="d-flex justify-content-center">
	<%= link_to 'Back to Displays', displays_path %>
</div>
